#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;
Comment=Run Saltshaker desktop config scripts
Exec=/usr/bin/bash {{salt['file.join'](salt['user.info'](user).home, ".local", "lib", "saltshaker-startup", "startup.sh")}}
GenericName=Startup scripts
Name=saltshaker-startup
StartupNotify=false
Type=Application
Version=1.0
# Give desktop environments time to init. Otherwise QGnomePlatform does not correctly pick up the palette.
X-GNOME-Autostart-Delay=3
